.sub {
  background: DodgerBlue;
  padding: 75px 100px;
  border-radius: 40px;
  color: white;
}
.sub h1 {
  font-size: 50px;
  margin: 0 100px 20px;
}
.mail form {
  padding-top: 50px;
}
.mail input[type="text"] {
  height: 150px;
  width: 100%;
  font-size: 30px;
  color: black;
  margin-right: -260px;
  border-radius: 21px;
  border: 0px;
}
.mail input[type="submit"] {
  padding: 10px 33px;
  font-size: 21px;
  color: white;
  background-color: DodgerBlue;
  border: 2px solid transparent;
  border-radius: 90px;
  width: 250px;
  height: 100px;
  text-align: center;
}
